{% extends 'brands/book_apple.html'%}
{% block headTitle %}Vivo Mobile Repair Service{% endblock %}
{% block qoute %}
<p>Vivo is a popular company, versatile in manufacturing smartphones, smartphone accessories, and software. They have a good collection of mobiles for daily use. They offer great value for money, with a wide variety of low to mid price ranges. Vivo is known for its good camera quality and FHD and AMOLED display screen.</p><p>Once damaged, the screen replacement is time-consuming and costly. MobiWheel solves your problem by providing you onsite repairing services at affordable prices.</p>
{% endblock %}
{% block models %}
<li>Vivo v3</li><li>Vivo v5</li><li>Vivo v5 plus</li><li>Vivo v5s</li><li>Vivo v7</li><li>Vivo v7 plus</li><li>Vivo v9</li><li>Vivo v9 pro</li><li>Vivo v9 youth</li><li>Vivo y53</li><li>Vivo y53i</li><li>Vivo y66</li><li>Vivo y69</li><li>Vivo y71</li><li>Vivo y71i</li><li>Vivo y83</li><li>Vivo y83 pro</li><li>Vivo y93</li><li>Vivo y95</li>
{% endblock %}
