{% extends 'brands/book_apple.html'%}
{% block headTitle %}Xiaomi Mobile Repair Service{% endblock %}
{% block qoute %}
<p>Xiaomi smartphones have ensnared the Indian market with their attractive display units and sturdy build. The brand is known for its reliability despite fitting the ‘Made-in-China’ narrative. Although the phones are quite affordable, damage repairs can cost a lot as the components are somewhat rarely available.</p><p>MobiWheel removes the scarcity of the Xiaomi smartphone parts, especially the screen. This enables screen-fixing at a lower price at your doorstep. Our service ensures that the phone repair is never out of your sight and price range.</p>
{% endblock %}
{% block models %}
<li>Mi 4i</li><li>Mi A1</li><li>Mi A2</li><li>Mi max</li><li>Mi max2</li><li>Redmi 3s</li><li>Redmi 3s prime</li><li>Redmi 4</li><li>Redmi 4a</li><li>Redmi 5a</li><li>Redmi 6a</li><li>Redmi note 3</li><li>Redmi note 4</li><li>Redmi note 5</li><li>Redmi y1</li><li>Redmi y2</li><li>Redmi note 5 pro</li><li>Redmi note 6 pro</li>
{% endblock %}
