{% extends 'brands/book_apple.html'%}
{% block headTitle %}One Plus Mobile Repair Service{% endblock %}
{% block qoute %}
<p>OnePlus has taken the Indian smartphone market by storm as its phones feature an immersive all-screen and all-glass experience. The AMOLED display used by the Chinese smartphone company has in-display fingerprint sensors as well. Other than that, there’s a long list of pros why consumers are moving beyond Samsung and Apple to OnePlus.</p><p>Yet, so many fragile parts make OnePlus vulnerable to damage and invite pricey repairments. MobiWheel helps you avoid such exorbitant charges by guaranteeing at-you-door repairs at the lowest price possible. Additionally, security is better applied when we fix the mobile screen in before the customer’s eyes.</p>
{% endblock %}
{% block models %}
<li>oneplus 1</li><li>oneplus 2</li><li>oneplus 3</li><li>oneplus 3t</li><li>oneplus 5t</li>
{% endblock %}
