{% extends 'brands/book_apple.html'%}
{% block headTitle %}Huawei Mobile Repair Service{% endblock %}
{% block qoute %}
<p>Huawei is one of the largest smartphone suppliers in the world. The brand is known for its high-quality stocks and trending technological discoveries. Some of their old smartphones are still popular in the market. Their devices are powered by the Octa-core processor and advanced AMOLED display screen with the fingerprint sensor.</p><p>Huawei’s spare parts are not easily available in the market. MobiWheel provides quick and swift screen replacement services with genuine device parts. The services are reliable and pocket-friendly.</p>
{% endblock %}
{% block models %}
<li>Honor 8X</li><li>Honor 9 Lite</li><li>Honor 8</li><li>Honor 8 pro</li>
{% endblock %}
