{% extends 'brands/book_apple.html'%}
{% block headTitle %}Lenovo Mobile Repair Service{% endblock %}
{% block qoute %}
<p>Lenovo is famed for its high-end computers and has recently been attracting a lot of accolades for its smartphones. They come with impressive packages, featuring sharp cameras, weightless design, and high definition screens. Yet, Lenovo phones are not exactly popular for their screen build.</p><p>Broken Lenovo smartphone screens can be hard to replace, especially when there are huge queues at the uncommon service centers across India. MobiWheel will help you against this difficulty by being ready with the screen replacement components at your doorstep.</p>
{% endblock %}
{% block models %}
<li>Lenovo K8 Note</li><li>Lenovo K8 Plus</li><li>Lenovo K3 Note</li><li>Lenovo K4 Note</li><li>Lenovo A6000</li><li>Lenovo A7000</li><li>Lenovo Vibe K5 Note</li><li>Lenovo K6 Note</li>
{% endblock %}
