{% extends 'brands/book_apple.html'%}
{% block headTitle %}Motorola Mobile Repair Service{% endblock %}
{% block qoute %}
<p>Motorola phones are known for their durability and looks. The American brand is also popular for its battery backup that lights up an impressive HD screen. However, after the company became defunct in 2011, the service centers have become rarer and the replacement parts have become costly.</p><p>With MobiWheel’s mobile screen replacement service, you won’t have to worry about looking for a Motorola service center. Our repair experts will offer you the lowest charges possible to mend or replace the broken Motorola screen.</p>
{% endblock %}
{% block models %}
<li>Moto E4 Plus</li><li>Moto G5s Plus</li><li>Moto G5</li><li>Moto G5 Plus</li><li>Moto M</li><li>Moto G5s</li><li>Moto E4</li><li>Moto Z Play</li>
{% endblock %}
